.card {
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

