* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: rgba(17, 37, 49, 1);
  display: flex;
  justify-content: center;
  color: white;
}
